[Oo]bj
[Bb]in
TestResults
*.user
*.suo
*.cache
*.Cache
*.bak
*.ncb
*.log 
*.DS_Store
*.vspscc
*.vssscc
thumbs.db 
Thumbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
Local.testsettings

*.pidb
*.userprefs